body{
    margin:0;
}

header{
    width: 100vw
}


header .header_text{
    text-align: center;
    color:white;
    font-size: xx-large;
}
header{
    width:  100vw;
    height: 50vh;
    background-image: url("..image/Extraordinary-Paper-Background-for-Free.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}   